@{
}

@model User_auth //including model class

<p>Here`s your data from textboxes @Html.DisplayFor(model => model.Login):@Html.DisplayFor(model => model.Password)</p> @*display User_auth vars on page*@