<head>
    <title>Authentication page</title>
    <link rel="stylesheet" href="~/css/AuthenticationStyles.css">
</head>
<body>
   <div class="Wrapper">
       <div class="FaceSpamLogo">
            <img src="~/Images/FaceSpamLogo.svg" alt="Error">
       </div>
       <div class="Card">
           <div class="MainInterface">
                <div class="FaceSpamName" style="text-align: center;">
                    FaceSpam
                </div>

                <div class="InputInterface">
                    <div class="Login">
                        <div class="LoginText">Login:</div>
                        <div class="LoginInput"><input type="text" required></div>
                    </div>
                    <div class="Password">
                        <div class="PasswordText">Password:</div>
                        <div class="PasswordInput"><input type="password" required></div>
                    </div>
                    <div class="ConfirmPassword">
                        <div class="ConfirmPasswordText">Confirm password:</div>
                        <div class="ConfirmPasswordInput"><input type="password" required></div>    
                    </div>
                    <div class="Email">
                        <div class="EmailText">Email:</div>
                        <div class="EmailInput"><input type="text" required></div>
                    </div>
                </div>

                <div class="Button">
                    <input type="submit" onclick="location.href='@Url.Action("Main", "Home")'" value="Sign in" />
                </div>

                    <!--<div class="Copyright">
                        <a>©copyright information</a>
                    </div>-->
            </div>
        </div>
    </div>
</body>

                