@model LoginModel
<html>
	<head>
		<title>Login page</title>
        <link rel="stylesheet" href="~/css/LoginStyles.css">
    </head>
	<body>
        <div class="Wrapper">
            <div class="FaceSpamLogo">
                <img src="~/Images/FaceSpamLogo.svg" alt="Error">
            </div>
            <div class="Card">
                <div class="MainInterface">
                    <div class="FaceSpamName" style="text-align: center;">
                        FaceSpam
                    </div>
                    
                   <div class="InputInterface">                
                   
                    @using (Html.BeginForm("VerifyUserLogin", "Home", FormMethod.Post))
                    {
                            <div class="Login">
                                 <div class="LoginText">Login: </div>
                                 <div class="LoginInput">
                                     @Html.TextBoxFor(model => model.Login, new { autocomplete = "off", Class = "LoginTextBox" })
                                 </div>
                            </div>
                            <div class="Password">
                                <div class="PasswordText">Password: </div>
                                <div class="PasswordInput">
                                    @Html.TextBoxFor(model => model.Password, new { autocomplete = "off", Class = "PasswordTextBox" })
                                </div>
                            </div>
                            
                            <div class="Button">
                                <input type="submit" id="button" value="Sign in"/>
                            </div>
                    }
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
