@model LoginModel
<html>
	<head>
		<title>Login page</title>
        <link rel="stylesheet" href="~/css/LoginStyles.css" asp-append-version="true">
        <link href="~/css/BackgroundAnimationStyle.css" rel="stylesheet" asp-append-version="true" />
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <script>
            $('body').on('click', '#password-checkbox', function(){
	            if ($(this).is(':checked')){
		            $('#password-input').attr('type', 'text');
	            } else {
		            $('#password-input').attr('type', 'password');
	            }
            });
       </script>
    </head>
	<body>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="Wrapper">
            <div class="FaceSpamLogo">
                <img src="~/Images/FaceSpamLogo.svg" alt="Error">
            </div>
            <div class="Card">
                <div class="MainInterface">
                    <div class="FaceSpamName" style="text-align: center;">
                        FaceSpam
                    </div>
                    
                    <div class="InputInterface">
                        <form asp-action="VerifyUserLogin">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="Login">
                                <div class="LoginText">Login: </div>
                                <div class="LoginInput">
                                    <input asp-for="Login" class="LoginTextBox" autocomplete="off" />
                                    <div class="ValidationError">
                                        <span asp-validation-for="Login"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="Password">
                                <div class="PasswordText">
                                    Password:
                                    <div class="PasswordCheckbox">
                                        Show password <input type="checkbox" id="password-checkbox">
                                    </div>
                                </div>
                                <div class="PasswordInput">
                                   <input asp-for="Password" id="password-input" class="PasswordTextBox" autocomplete="off" />
                                   <div class="ValidationError">
                                        <span asp-validation-for="Password" ></span>
                                   </div>
                                </div>
                            </div>
                            <div class="Button">
                                <input type="submit" value="Sign in"  />
                            </div>
                        </form>
                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
