<html>
    <head>
        <title>Settings page</title>
        <link rel="stylesheet" href="~/css/SettingsStyles.css">
    </head>

    <body style="background-image: @Url.Action("~/Images/background.jpg")">
        <div class="Wrapper">
            <div class="ControlPanel">
                <div class="ButtonsOnControlPanel">
                    <a href="URL">My page</a>
                    <a href="URL">Messages</a>
                    <a href="URL">Games</a>
                    <a href="URL">Shop</a>
                    <a href="URL">Settings</a>
 
                    <div class="AdvertisementText">
                        Advertisement
                    </div>

                    <div class="AdvertisementImage">
                        <img src="~/Images/AdvertisementTest.png" />
                    </div>
                </div>
            </div>
        
            <div class="SettingsMainPage">
                <div class="SettingsName">Settings</div>

                <div class="ChangeUserInfo">
                    <div class="ChangeUserInfoInputs">
                        <div class="ChangeEmail">
                            <input type="text">
                            <div class="ChangeText">Press to change email address</div>
                        </div>

                        <div class="ChangeUsername">
                            <input type="text">
                            <div class="ChangeText">Press to change username</div>
                        </div>
                
                        <div class="ChangeAccountDescription">
                            <input type="text">
                            <div class="ChangeText">Press to change your account description</div>
                        </div>
                    </div>

                    <div class="ChangePhoto">
                        <div class="ChangePhotoImage">
                            <img src="~/Images/ChangeUserPhotoTest.png" />
                        </div>

                        <div class="ChangePhotoButton">
                            <input type="submit" value="Change photo"/>
                        </div>
                    </div>
                </div>

                <div class="SettingPageButtons">
                    <div class="ButtonAndText">
                        <div>
                            <input type="submit" value="Shop account"/>
                        </div>
                        <div class="ButtonShopAccountText">
                            Press to manage your shop account
                        </div>
                    </div>

                    <div class="ButtonAndText">
                        <div>
                            <input type="submit" value="Game account"/>
                        </div>
                        <div class="ButtonGameAccountText">
                            Press to manage your game account
                        </div>
                    </div>

                    <div class="ButtonAndText">
                        <div>
                            <input type="submit" value="Change password"/>
                        </div>
                        <div class="ButtonChangePasswordText">
                            test
                        </div>
                    </div>

                    <div class="ButtonAndText">
                        <div>
                            <input type="submit" value="Background"/>
                        </div>
                        <div class="ButtonBackgroundText">
                            test
                        </div>
                    </div>
                </div>
                <div class="InviteFriends">
                    <div class="InviteFriendsButton">
                        <a>
                            +
                            <img src="~/Images/Human.svg"/>
                            Invite friend
                        </a>
                    </div>
                    <div class="InviteFriendsCode"></div>
                </div>
            </div>
        </div>
    </body>
</html>