
.Wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.OverflowZone {
    overflow-y: auto;
    overflow-x: hidden;
    width: 786px;
    height: 780px;
}

.Button {
    background-color: #3485FF;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Board {
    width: 786px;
    height: 790px;
    left: 401px;
    background: #FFFFFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.WriteZone {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 80px;
    width: 786px;
    background: #FFFFFF;
}

.Line {
    width: 691px;
    height: 0px;
    background-color: #ABABAB;
    border: 1px solid #ABABAB;
    transform: rotate(0.17deg);
    margin-left: 29px;
}

.MessageInput {
    width: 500px;
    border: none;
    color: black;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.MessageButton {
    width: 120px;
    height: 42px;
    background: #3485FF;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    border: none;
    margin-left: 25px;
    margin-top: 15px;
}

.PostedMessage {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: auto;
    width: 650px;
    word-break:break-word;
    color: #000000;
    margin-left: 87px;
}

.UserImage {
    margin-left: 21px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 53px;
    height: 53px;
    background-image: url();
    border-radius: 50px;
    margin-left: 14px;
    margin-right: 20px;
    margin-top: 13px;
}

.UserName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #3485FF;
    margin-right: 350px;
    width: 200px;
}

.Time {
    width: 125px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #3485FF;
}

div.PostImageHeader {
    height: 325px;
    width: 786px;
    display: flex;
    justify-content: center;
}

.PostImage {
    max-width: 100%;
    max-height: 100%;
    margin-top: 23px;
}

@media screen and (min-height: 520px) {

    .Board {
        height: 480px
    }

    .OverflowZone {
        height: 480px
    }

    .Navigation {
        height: 500px
    }

    .AdvertisementText {
        margin-top: 50px;
    }
}

@media screen and (min-height: 860px) {

    .Board {
        height: 780px;
    }

    .OverflowZone {
        height: 780px;
    }

    .Navigation {
        height: 715px
    }

    .AdvertisementText {
        margin-top: 165px;
    }
}