* {
    box-sizing: border-box;
}

body {
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
}

.FaceSpamLogo {
    margin-top: 5vh;
}

    .FaceSpamLogo img {
        width: 500px;
        filter: invert(1);
    }

.TextArea {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    width: 55%;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 56px;
    color: #0066FF;
}

.bottomNav {
    text-decoration: none;
    display: inline-block;
    padding: 0px 35px 0px 35px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: #3485FF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
}

@media screen and (max-width: 990px) {
    .FaceSpamLogo img {
        width: 350px;
    }
}

@media screen and (max-width: 770px) {
    .TextArea {
        width: 350px;
    }
}

@media screen and (max-height: 600px) {
    .FaceSpamLogo img {
        width: 300px;
    }
}
