.CreateGroup {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 35%;
    border-radius: 5px;
    background: white;
    animation-name: animatetop;
    animation-duration: 1s;
    display: none;
}

.GroupWriteButton {
    outline: none;
    border: none;
    background: #FFFFFF;
    transition: 0.5s;
    border-radius: 15px;
    height: 24px;
    width: 72px;
    color: #0066FF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    box-shadow: inset 5px 3px 3px rgba(0, 0, 0, 0.15);
}

    .GroupWriteButton:hover {
        box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.35);
    }

@-webkit-keyframes animatetop {
    from {
        top: -400px;
        opacity: 0
    }

    to {
        top: 100px;
        opacity: 1
    }
}

.CreateGroupButton {
    border-radius: 10px;
    border-style: none;
    background: white;
    color: #3485FF;
}

.GroupImage {
    width: 100%;
    height: 150px;
    background: black;
    margin-top: 5px;
}

.GroupImage img {
    width: 100%;
    height: 150px;
}

.GroupLabel {
    font-size: 24px;
    color: blue;
    font-weight: 400;
}

.InputInterface {
    width: 250px;
    height: 40px;
    background: #f2f2f2;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 18px;
    outline: none;
    border: 0px;
}

.UsersList {
    margin: 5px 10px;
    background: grey;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.List {
    overflow-y: auto;
    width: 100%;
    height: 80%;
    background: #3485FF;
}

.SearchBox {
    width: 100%;
    height: 20%;
    background: #f2f2f2;
    border-radius: 5px;
}

.SecondPanel {
    display: flex;
    align-items: center;
}

.ConfirmButton {
    width: 274px;
    height: 70px;
    background: #476DF3;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    border: none;
    color: black;
    background: #3485FF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
}

.UserPanel {
    background: white;
    border-radius: 10px;
    width: 95%;
    margin-left: 5px;
    height: 20%;
}

.UserPanelImage {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.MemberActionButton {
    background: #3485FF;
    color: white;
    font-size: 14px;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    border-radius: 5px;
}