.Wrapper {
    margin-top: 112px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Navigation {
    max-height: 650px;
    background-color: #3485FF;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 20px;
    margin-right: 70px;
    width: 175px;
}

.Button {
    background-color: #3485FF;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Info {
    height: 202px;
    width: 600px;
    background-color: #3485FF;
    display: inline-block;
}

.UserImage {
    height: 202px;
    background-image: url('../images/W1ld 3lf.jpg');
    width: 166px;
    background-color: grey;
}

.EditProfile {
    background-color: #3485FF;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-top: 200px;
}

.Friends {
    background-color: #3485FF;
    height: 243px;
    width: 166px;
    margin-top: 50px;
}

.Dashboard {
    background-color: #3485FF;
    margin-top: 90px;
    height: 100px;
    width: 600px;
}

.HorizontalLine {
    width: 600px;
    height: 2px;
    color: gray;
    background-color: #ABABAB;
    margin-top: -2px;
    margin-bottom: 0px;
}

.DashboardList {
    background-color: #3485FF;
    height: 570px;
    width: 600px;
    overflow-y: auto;
}

.Post {
    margin: 24px 10px;
    border-radius: 0.6rem;
    border: none;
    font-size: 18px;
    color: #B9B9B9;
    height: 50px;
    width: 450px;
}

.PostButtons {
    background-color: white;
    border-radius: 0.6rem;
    color: #0066FF;
    border: none;
    font-size: 18px;
}

.PostInfo {
    background-color: #3485FF;
    height: 100px;
}

.PostMessage {
    background-color: white;
    width: 520px;
    margin: 40px 20px;
}

.Ellipse {
    background-image: url('../Images/Mask.jpg');
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-table;
}

.HeartImage {
    display: inline-block;
    margin-left: 10px;
}

.LikeLabel {
    position: relative;
    font-size: 12px;
    display: inline-block;
    color: #3485FF;
}

.PostEllipse {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 3px;
}

.PostText {
    position: relative;
    left: 20px;
    color: #3485FF;
    max-width: 500px;
    overflow: hidden;
    word-wrap: break-word;
}
