.Navigation {
    position: absolute;
    width: 175px;
    height: 514px;
    left: 152px;
    top: 104px;
    background: #3485FF;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Button {
    background-color: #3485FF;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Groups {
    position: absolute;
    width: 246px;
    height: 520px;
    left: 370px;
    top: 104px;
    background: #3485FF;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.SearchTextBox {
    width: 245px;
    height: 46px;
    background: #E1EDFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 40px;
}

.GroupsList {
    width: 246px;
    height: 474px;
    background: transparent;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.GroupPanel {
    display: flex;
    flex-direction: row;
    width: 246px;
    height: 66px;
    background: #3485FF;
}

.GroupName {
    margin-top: 25px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: white;
    height: 16px;
}

.Chat {
    position: absolute;
    width: 528px;
    height: 600px;
    left: 653px;
    top: 103px;
    background: white;
    backdrop-filter: drop-shadow(4px 4px 10px black);
    border-radius: 3px;
}

.Line {
    width: 474px;
    height: 0px;
    left: 40px;
    border: 3px solid #ABABAB;
}

.MessageArea {
    width: 528px;
    height: 71px;
    background: transparent;
}

.Circle {
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

.MessageTextBox {
    width: 328px;
    height: 50px;
    resize: none;
    padding: 15px 0px;
    margin-top: -5px;
    border: none;
}

.ButtonSend {
    position: absolute;
    width: 95px;
    height: 42px;
    left: 420px;
    top: 535px;
    background: #3485FF;
    border: none;
    border-radius: 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.ChatMessages {
    width: 520px;
    height: 500px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.Message {
    background-color: white;
    height: 170px;
    width: 380px;
    margin: 40px 20px;
}

.inactive {
    background: #3485FF;
}

.active {
    background: #98BFFA;
}

.Ellipse {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 3px;
    margin-top: 3px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.SearchField {
    position: relative;
}

.SearchField img {
    position: absolute;
    top: 15px;
    left: 5px;
}

.UserImage {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -35px;
    margin-left: 3px;
}

@media screen and (max-width: 1280px) {
    .Chat {
        width: 428px;
    }

    .ChatMessages {
        width: 428px;
    }

    .MessageArea {
        width: 428px;
    }

    .ButtonSend {
        width: 65px;
        height: 38px;
        left: 340px;
        font-weight: 300;
        font-size: 16px;
    }

    .UserImage {
        width: 55px;
        height: 55px;
    }

    .MessageTextBox {
        width: 268px;
    }

    .Line {
        width: 374px;
        left: 60px;
    }
}


@media screen and (max-width: 1160px) {
    .Chat {
        width: 388px;
    }

    .ChatMessages {
        width: 388px;
    }

    .MessageArea {
        width: 388px;
    }

    .ButtonSend {
        width: 55px;
        left: 320px;
        font-weight: 300;
        font-size: 18px;
    }

    .UserImage {
        width: 55px;
        height: 55px;
    }

    .MessageTextBox {
        width: 258px;
    }

    .Line {
        width: 364px;
        left: 70px;
        border: 2px solid #ABABAB;
    }
}

@media screen and (max-height: 590px) {
    .Chat {
        height: 580px;
    }

    .ChatMessages {
        height: 480px;
    }

    .MessageArea {
        height: 418px;
    }

    .ButtonSend {
        position: absolute;
        height: 42px;
        top: 515px;
    }
}

@media screen and (max-height: 569px) {
    .Chat {
        height: 560px;
    }

    .ChatMessages {
        height: 460px;
    }

    .MessageArea {
        height: 398px;
    }

    .ButtonSend {
        position: absolute;
        height: 42px;
        top: 495px;
    }
}

@media screen and (max-height: 545px) {
    .Chat {
        height: 540px;
    }

    .ChatMessages {
        height: 440px;
    }

    .MessageArea {
        height: 378px;
    }

    .ButtonSend {
        position: absolute;
        height: 42px;
        top: 475px;
    }
}