* {
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}
/* Left block */
.Wrapper {
    display: flex;
    margin-top: 110px;
}

.ControlPanel {
    height: 650px;
    background-color: #3485FF;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 20px;
    margin-right: 70px;
    width: 175px;
}

    .ControlPanel input {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        margin-left: 17px;
        color: #FFFFFF;
        margin-bottom: 12px;
        margin-left: 17px;
        background: none;
        border: none;
        transition: .3s;
    }

        .ControlPanel input:hover {
            transform: translateX(10px);
        }

.AdvertisementText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 165px;
    margin-bottom: 15px;
}

.AdvertisementImage {
    width: 150px;
    height: 150px;
    transition: .5s;
}
/*
    .AdvertisementImage:hover {
        scale: 5;
        transform: rotateY(360deg);
    }*/
/* Main page */
.SettingsMainPage {
    width: 830px;
    background: #98BFFA;
    border-radius: 10px;
    padding: 60px;
}

.SettingsName {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-top: -30px;
    margin-bottom: 5px;
    color: #0066FF;
}

.ChangeUserInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ChangeUserInfoInputs input {
    width: 300px;
    background-color: #98BFFA;
    outline: none;
    border: none;
    border-bottom: 2px solid #8D8C8C;
    color: #476DF3;
}
/* Change photo */
.ChangePhotoImage {
    max-width: 165px;
    max-height: 200px;
}

    .ChangePhotoImage img {
        width: 164px;
        height: 200px;
    }

.ChangePhotoButton input {
    text-decoration: none;
    display: inline-block;
    width: 165px;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: #3485FF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
}

    .ChangePhotoButton input:hover {
        background: #0071c7;
        box-shadow: 0 15px 20px rgba(106, 121, 247, .4);
        color: white;
    }
/* ---------- */
.SettingPageButtons input {
    text-decoration: none;
    display: inline-block;
    width: 240px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px 10px 0px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: #3485FF;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
}

    .SettingPageButtons input:hover {
        background: #0071c7;
        box-shadow: 0 15px 20px rgba(106, 121, 247, .4);
        color: white;
        transform: translateY(-7px);
    }

.ButtonAndText {
    display: flex;
}

.ButtonShopAccountText {
    display: flex;
    align-items: center;
    margin: 5px;
}

.ButtonGameAccountText {
    display: flex;
    align-items: center;
    margin: 5px;
}

.ConfirmChanges {
    display: flex;
    justify-content: end;
}

    .ConfirmChanges input {
        text-decoration: none;
        display: inline-block;
        width: 240px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-weight: 600;
        color: black;
        background: #3485FF;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .5s;
        border: none;
    }

        .ConfirmChanges input:hover {
            background: #0071c7;
            box-shadow: 0 15px 20px rgba(106, 121, 247, .4);
            color: white;
            transform: translateY(-7px);
        }

/* Media */
@media screen and (max-width: 1200px) {
    .InviteFriends {
        font-size: 28px;
    }

    .InviteFriends {
        font-size: 24px;
    }

    .ChangePhoto {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 992px) {
    .ControlPanel {
        margin-left: -10%;
        margin-right: 35px;
    }

    .ChangePhoto {
        margin-left: 50px;
    }

    .InviteFriends {
        font-size: 22px;
    }
}

@media screen and (max-width: 880px) {
    .ControlPanel {
        margin-left: -50px;
        margin-right: 15px;
    }

    .ChangePhoto {
        margin-right: -35px;
    }

    .InviteFriends {
        font-size: 20px;
    }
}

@media screen and (max-height: 850px) {
    .Wrapper {
        margin-top: 50px;
    }
}

@media screen and (max-height: 790px) {
    .Wrapper {
        margin-top: 40px;
    }

    .SettingPageButtons input {
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 700px) {
    .Wrapper {
        margin-top: 20px;
    }

    .SettingPageButtons input {
        margin-bottom: 20px;
    }
}
